﻿<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/jquery-ui-1.8.16.custom.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/bootstrap.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/visualsearch-datauri.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/visualsearch.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/site.css")" rel="stylesheet" type="text/css" />
    <!--[if IE]>
    <link href="@Url.Content("~/Content/jquery.ui.1.8.16.ie.css")" rel="stylesheet" type="text/css" />
    <![endif]-->

    
    <!--scripts-->
    <script src="@Url.Content("~/Scripts/jquery-1.6.2.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery-ui-1.8.16.custom.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/underscore.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/backbone.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/date.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/bootstrap-dropdown.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/bootstrap-alerts.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/bootstrap-tabs.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/visualsearch.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/icanhaz.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.address-1.4.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/site.js")" type="text/javascript"></script>
    

    <script id="usertemplate" type="text/html">
      <li class="well">
        <h5 class="name"><a href="/User/Details/{{ id }}">{{ firstname }} {{ lastname }}</a></h5>
        <p><strong>Email:</strong> {{ email }} <strong>Geburtstag:</strong> {{ birthdate }} <strong>Role:</strong> {{ role }}</p>
      </li>
    </script>
</head>

<body>
    
    <div class="topbar">
      <div class="fill">
        <div class="container">
          <a class="brand" href="#">Vereinsverwaltung</a>

          <ul class="nav">
            <li>@Html.ActionLink("Home", "Index", "Club")</li>
            <li>@Html.ActionLink("Gruppen", "Index", "Group")</li>
            <li>@Html.ActionLink("Mitglieder", "Search", "User")</li>
          </ul>

          @Html.Partial("_Login")
        </div>
      </div>
    </div>

    <div class="container">

      <div class="content">
        <div class="page-header">
          <h1>@ViewBag.title</h1>
        </div>
        <div class="row">
          <div class="span14">
            @RenderBody()
          </div>
        </div>
      </div>

      <footer>
        <p>&copy; Vereinsverwaltung 2012</p>
      </footer>

    </div> <!-- /container -->

</body>
</html>
