﻿@{
    ViewBag.Title = "Login";
    Vereinsverwaltung.Models.Login login = new Vereinsverwaltung.Models.Login();
}

@{
    if (Request.IsAuthenticated)
    {
        <ul class="nav secondary-nav">
            <li class="dropdown" data-dropdown="dropdown">
                <a href="#" class="dropdown-toggle">Mein Account</a>
                <ul class="dropdown-menu">
                <li><a href="#">@Html.ActionLink("Profile", "Edit", "User", new { id = (int)ViewData["UserId"] }, null)</a></li>
                @if (ViewData["GroupLeader"] == "yes" || (int)ViewData["Role"] == 1)
                {
                    <li><a href="#">@Html.ActionLink("Neues Mitglied", "Create", "User", null)</a></li>
                }  
                <li class="divider"></li>
                <li><a href="#">@Html.ActionLink("Logout", "Logout", "Account")</a></li>
                </ul>
            </li>
        </ul>    
    }
    else
    {
        using (Html.BeginForm("Login", "Account", FormMethod.Post, new { @class = "pull-right" }))
        {
            
            @Html.TextBoxFor(model => login.Email, new { @class = "input-small", @placeholder = "Email" })
            @Html.PasswordFor(model => login.Password, new { @class = "input-small", @placeholder = "Password" })
            <button class="btn" type="submit">Login</button>
        }

    }
}
