﻿@model Vereinsverwaltung.Models.Club

@{
    ViewBag.Title = "Edit";
}



<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "form-stacked" })) 
{
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Club</legend>

        @Html.HiddenFor(model => model.ClubID)

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>


        <div class="actions">
            <input type="submit" class="btn primary" value="Speichern" />
        </div>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
