﻿@model Vereinsverwaltung.Models.Checkout

@{
    ViewBag.Title = "Neuer Beitrag";
}

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "form-stacked" })) 
{
    @Html.ValidationSummary(true)
    <fieldset>

        <div class="editor-label">
            @Html.LabelFor(model => model.Amount)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Amount)
            @Html.ValidationMessageFor(model => model.Amount)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.MaturityDate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.MaturityDate)
            @Html.ValidationMessageFor(model => model.MaturityDate)
        </div>

       <div class="editor-label">
            @Html.LabelFor(model => model.GroupID, "Gruppe")
        </div>
        <div class="editor-field">
            @Html.DropDownList("GroupID", String.Empty)
            @Html.ValidationMessageFor(model => model.GroupID)
        </div>

        <div class="actions">
            <input type="submit" class="btn primary" value="Speichern" />
        </div>

    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
