﻿@model Vereinsverwaltung.Models.Group

@{
    ViewBag.Title = "Delete";
}

<div class="alert-message error fade in" data-alert="alert">
    <a class="close" href="#">×</a>
    <p><strong>Woow!</strong> Sicher das du löschen möchtest? @Html.ActionLink("Nein", "Index").</p>
</div>

<div>
    <h4>Gruppe</h4>
    <dl>
    <dt>Name</dt>
    <dd>@Html.DisplayFor(model => model.Name)</dd>
    <dt>Description</dt>
    <dd> @Html.DisplayFor(model => model.Description)</dd>
    </dl>
</div>

@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" class="btn danger" />
    </p>
}
