﻿@model Vereinsverwaltung.Models.Checkout

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@{
    ViewBag.Title = "Kassa";
}

<ul class="tabs" data-tabs="tabs">
    <li class="active"><a href="#group">Gruppe</a></li>
    <li><a href="#members">Mitglieder</a></li>
</ul>
<div id="my-tab-content" class="tab-content">

    @* GROUP *@
    <div class="active tab-pane" id="group">

        @using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "form-stacked" })) 
        {
            @Html.ValidationSummary(true)
            <fieldset>
                <legend>Betrag für Gruppe</legend>

                @Html.HiddenFor(model => model.CheckoutID)

                <div class="editor-label">
                    @Html.LabelFor(model => model.Group.Name)
                </div>
                <div class="editor-field">
                    @Html.DisplayFor(model => model.Group.Name)
                </div>

                <div class="editor-label">
                    @Html.LabelFor(model => model.Amount)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.Amount)
                    @Html.ValidationMessageFor(model => model.Amount)
                </div>

                <div class="editor-label">
                    @Html.LabelFor(model => model.MaturityDate)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.MaturityDate)
                    @Html.ValidationMessageFor(model => model.MaturityDate)
                </div>

                <div class="actions">
                    <input type="submit" class="btn primary" value="Speichern" />
                </div>
            </fieldset>
        }
    </div>

    @* MEMBERS *@
    <div class="tab-pane tab-pane-groups" id="members">

    <table>
    <tr>
        <th>
            Mitglied
        </th>
        <th>
            Betrag
        </th>
        <th>
            Buchungsdatum
        </th>
        <th />
    </tr>

@if (ViewBag.clubUsersOpen != null)
{
    foreach (Vereinsverwaltung.Models.Group g in ViewBag.clubUsersOpen.Keys)
    {
        
        <tr> Gruppe: 
            @g.Name;
        </tr>
        foreach (Vereinsverwaltung.Models.User u in (System.Collections.ArrayList)ViewBag.clubUsersOpen[g])
        {
            
    <tr>
        <td>
            @{
                @u.FirstName @u.LastName
            }
        </td>
         <td>
            
        </td>
        <td>
            
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = u.UserID}) |
            @Html.ActionLink("Details", "Details", new { id = u.UserID }) |
            @Html.ActionLink("Delete", "Delete", new { id = u.UserID })
        </td>
    </tr>
        }
    }
}

</table>

    </div>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
