﻿@model IEnumerable<Vereinsverwaltung.Models.Checkout>

@{
    ViewBag.Title = "Kassa";
    
}



<p>
    @Html.ActionLink("Erstellen", "Create", "Checkout", new { @class = "btn primary" })
</p>
<table>
    <tr>
        <th>
            Gruppe
        </th>
        <th>
            Betrag
        </th>
        <th>
            Fälligkeitsdatum
        </th>
        <th />
    </tr>

@if (Model != null)
{
    foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Group.Name)
        </td>
         <td>
            @Html.DisplayFor(modelItem => item.Amount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MaturityDate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.CheckoutID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.CheckoutID })
        </td>
    </tr>
    }
}

</table>
