﻿@model Vereinsverwaltung.Models.Group

@{
    ViewBag.Title = Model.Name;
}

<div>
    <h4>Gruppe</h4>
    <dl>
    <dt>Name</dt>
    <dd>@Html.DisplayFor(model => model.Name)</dd>
    <dt>Description</dt>
    <dd> @Html.DisplayFor(model => model.Description)</dd>
    <dt>Mitglieder</dt>
    <dd>
        <ul>
            
      
        @foreach (var user in Model.Users)
        {
            if (user.GroupLeaderAssignments.Count() > 0)
            {
                // In Welchen Gruppen
                foreach (var groupLeader in user.GroupLeaderAssignments)
                {
                    if (Model.GroupID == groupLeader.GroupID)
                    {
                        <li>@Html.ActionLink(user.Email + "(GruppenLeiter)", "Details", "User", new { id = user.UserID }, null)</li>
                    }
                    else
                    {
                        <li>@Html.ActionLink(user.Email, "Details", "User", new { id = user.UserID }, null)</li>
                    }
                }
            }
            else
            {
                <li>@Html.ActionLink(user.Email, "Details", "User", new { id = user.UserID }, null)</li>
            }

        }
          </ul>
    </dd>
    </dl>
</div>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.GroupID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
