﻿@model Vereinsverwaltung.Models.Group

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@{
    ViewBag.Title = Model.Name;
}


<ul class="tabs" data-tabs="tabs">
    <li class="active"><a href="#group">Gruppe</a></li>
    <li><a href="#members">Mitglieder</a></li>
</ul>
<div id="my-tab-content" class="tab-content">

    @* GROUP *@
    <div class="active tab-pane" id="group">

        @using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "form-stacked" })) 
        {
            @Html.ValidationSummary(true)
            <fieldset>
                <legend>Group</legend>

                @Html.HiddenFor(model => model.GroupID)

                <div class="clearfix">
                    @Html.LabelFor(model => model.Name)
                    <div class="input">
                        @Html.EditorFor(model => model.Name)
                        @Html.ValidationMessageFor(model => model.Name)
                    </div>
                </div>

                <div class="clearfix">
                    @Html.LabelFor(model => model.Description)
                    <div class="input">
                        @Html.EditorFor(model => model.Description)
                        @Html.ValidationMessageFor(model => model.Description)
                    </div>
                </div>


                <div class="actions">
                    <input type="submit" class="btn primary" value="Speichern" />
                </div>
            </fieldset>
        }
    </div>

    @* MEMBERS *@
    <div class="tab-pane tab-pane-groups" id="members">
        <div class=" left">
            <h3>Nicht zugeteilte VereinsMitglieder</h3>
            <ul id="users-sortable1" class="well group-user-list">
                @foreach (var user in ViewBag.ClubUsers)
                {
                    <li data-user-id="@user.UserID">@user.FirstName @user.LastName</li>
                }
            </ul>
       
        </div>
        <div class=" right">
             <h3>Zugeteilte GruppenMitglieder</h3>
            <ul id="users-sortable2" class="well group-user-list">
                @foreach (var user in Model.Users)
                {
                    // User ist Gruppenleiter
                    if (user.GroupLeaderAssignments.Count() > 0)
                    {
                        // In Welchen Gruppen
                        foreach (var groupLeader in user.GroupLeaderAssignments)
                        {
                            if (Model.GroupID == groupLeader.GroupID)
                            {
                                <li data-user-id="@user.UserID" class="selected">@user.FirstName @user.LastName</li>
                            }
                            else
                            {
                                <li data-user-id="@user.UserID">@user.FirstName @user.LastName</li>
                            }
                        }
                    }
                    // User ist kein Gruppenleiter
                    else
                    {
                        <li data-user-id="@user.UserID">@user.FirstName @user.LastName</li>
                    }
                }
            </ul>
            <p><i>Blau markierte Benutzer sind Gruppenleiter</i></p>
        </div>
    </div>

    <script type="text/javascript">
        var GROUPID = @Model.GroupID;
    </script>
</div>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
