﻿@model IEnumerable<Vereinsverwaltung.Models.Group>

@{
    ViewBag.Title = "Gruppen";
}


@if ((int)ViewData["Role"] == 1)
{
<p>
    @Html.ActionLink("Erstellen", "Create", "Group", new { @class = "btn primary" })
</p>
}
<table>
    <tr>
        <th>
            Name
        </th>
        <th>
            Description
        </th>
        <th>
            ClubID
        </th>
    </tr>

@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
         <td>
            @Html.DisplayFor(modelItem => item.ClubID)
        </td>
        <td>
            
            @if ((int)ViewData["Role"] == 1)
            {
                @Html.ActionLink("Edit", "Edit", new { id = item.GroupID }) @:|
                @Html.ActionLink("Delete", "Delete", new { id = item.GroupID }) @:|
            }
            
            @Html.ActionLink("Details", "Details", new { id = item.GroupID })
        </td>
    </tr>
}

</table>
