﻿@model Vereinsverwaltung.Models.User

@{
    ViewBag.Title = "Delete";
}

<div class="alert-message error fade in" data-alert="alert">
    <a class="close" href="#">×</a>
    <p><strong>Woow!</strong> Sicher das du löschen möchtest? @Html.ActionLink("Nein", "Index").</p>
</div>


<div>
    <h4>User</h4>
    <dl>
    <dt>Email</dt>
    <dd>@Html.DisplayFor(model => model.Email)</dd>
    <dt>FirstName</dt>
    <dd> @Html.DisplayFor(model => model.FirstName)</dd>
    <dt>LastName</dt>
    <dd> @Html.DisplayFor(model => model.LastName)</dd>
    <dt>Password</dt>
    <dd> @Html.DisplayFor(model => model.Password)</dd>
    <dt>Role</dt>
    <dd> @Html.DisplayFor(model => model.Role.Name)</dd>
    <dt>Club</dt>
    <dd> @Html.DisplayFor(model => model.Club.Name)</dd>
    </dl>
</div>

@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" class="btn danger" />
    </p>
}
