﻿@model Vereinsverwaltung.Models.User

@{
    ViewBag.Title = Model.FirstName + ' ' + Model.LastName;
}

<ul class="tabs" data-tabs="tabs">
    <li class="active"><a href="#base">Account</a></li>
    <li><a href="#groups">Gruppen</a></li>
    <li><a href="#payments">Zahlungen</a></li>
</ul>
<div id="my-tab-content" class="tab-content">

    @* BASE *@
    <div class="active tab-pane" id="base">
        <h4>User</h4>
        <dl>
            <dt>FirstName</dt>
            <dd>@Html.DisplayFor(model => model.FirstName)</dd>
            <dt>LastName</dt>
            <dd> @Html.DisplayFor(model => model.LastName)</dd>
            <dt>Email</dt>
            <dd>@Html.DisplayFor(model => model.Email)</dd>
            <dt>Role</dt>
            <dd>@Html.DisplayFor(model => model.Role.Name)</dd>
            <dt>Geburtstag</dt>
            <dd>@Html.DisplayFor(model => model.BirthDate)</dd>
        </dl>
    </div>

    @* GROUPS *@
    <div class="tab-pane" id="groups">
        @if (Model.Groups.Count > 0)
        {
            foreach (var group in Model.Groups)
            {
                @Html.DisplayFor(modelItem => group.Name)
            }
        }
        else
        {
            <p>keine Gruppen zugeteilt</p>
        }
    </div>

    @* Zahlungen *@
    <div class="tab-pane" id="payments">
        Mein Zahlungen
    </div>
</div>

<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.UserID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
