﻿@model Vereinsverwaltung.Models.User

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>


@{
    ViewBag.Title = Model.FirstName + ' ' + Model.LastName;
}

<ul class="tabs" data-tabs="tabs">
    <li class="active"><a href="#base">Account</a></li>
    <li><a href="#groups">Gruppen</a></li>
    <li><a href="#payments">Zahlungen</a></li>
</ul>
<div id="my-tab-content" class="tab-content">

    @* BASE *@
    <div class="active tab-pane" id="base">
        @using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "form-stacked" })) 
        {
            @Html.ValidationSummary(true)
            <fieldset>
                <legend>User</legend>

                @Html.HiddenFor(model => model.UserID)
                @Html.HiddenFor(model => model.ClubID)

                <div class="editor-label">
                    @Html.LabelFor(model => model.FirstName)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.FirstName)
                    @Html.ValidationMessageFor(model => model.FirstName)
                </div>

                <div class="editor-label">
                    @Html.LabelFor(model => model.LastName)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.LastName)
                    @Html.ValidationMessageFor(model => model.LastName)
                </div>

                <div class="editor-label">
                    @Html.LabelFor(model => model.Email)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.Email)
                    @Html.ValidationMessageFor(model => model.Email)
                </div>

                <div class="editor-label">
                    @Html.LabelFor(model => model.Password)
                </div>
                <div class="editor-field">
                    @Html.PasswordFor(model => model.Password)
                    @Html.ValidationMessageFor(model => model.Password)
                </div>

                <div class="editor-label">
                    @Html.LabelFor(model => model.RoleID, "Role")
                </div>
                <div class="editor-field">
                    @Html.DropDownList("RoleID")
                    @Html.ValidationMessageFor(model => model.RoleID)
                </div>

                <div class="editor-label">
                    @Html.LabelFor(model => model.BirthDate)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.BirthDate, new { @class = "inputDate" })
                    @Html.ValidationMessageFor(model => model.BirthDate)
                </div>

                <div class="actions">
                    <input type="submit" class="btn primary" value="Speichern" />
                </div>
            </fieldset>
        }
    </div>

    @* GROUPS *@
    <div class="tab-pane" id="groups">
        Meine Gruppen
    </div>

    @* Zahlungen *@
    <div class="tab-pane" id="payments">
        Mein Zahlungen
    </div>
</div>







<div>
    @Html.ActionLink("Back to List", "Index")
</div>
