﻿@model IEnumerable<Vereinsverwaltung.Models.User>

@{
    ViewBag.Title = "Mitglieder";
}

@if (ViewData["GroupLeader"] == "yes" || (int)ViewData["Role"] == 1)
{
<p>
    @Html.ActionLink("Erstellen", "Create", "User", new { @class = "btn primary" })
</p>
}

<table>
    <tr>

        <th>
            FirstName
        </th>
        <th>
            LastName
        </th>
        <th>
            Email
        </th>
        <th>
            Geburtstag
        </th>
        <th>
            Role
        </th>

    </tr>

@foreach (var item in Model) {
    <tr>

        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BirthDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Role.Name)
        </td>
        <td>

            @if (ViewData["GroupLeader"] == "yes" || (int)ViewData["Role"] == 1)
            {
                @Html.ActionLink("Edit", "Edit", new { id=item.UserID }) @:|
                @Html.ActionLink("Delete", "Delete", new { id=item.UserID }) @:|
            }
            
            @Html.ActionLink("Details", "Details", new { id=item.UserID })
        </td>
    </tr>
}

</table>

