﻿@model IEnumerable<Vereinsverwaltung.Models.User>

@{
    ViewBag.Title = "Mitglieder";
}

<p class="visual_search_info"><i>Suche nach: Gruppe, Zahlungen, Vorname, Nachname</i></p>
<div class="visual_search"></div>

<ul id="search-result"></ul>


<script type="text/javascript">
    var GROUPS = [
    @foreach (var group in ViewBag.Groups)
    {
        @:{ value: '@group.GroupID', label: '@group.Name' },
    }
    ]
    var CLUBID = @((int)ViewData["ClubId"]);

    //init start search
    //search(null, {});

    //Browser Adress 
    $.address.externalChange(function (event) {

        var searchModel = {
            models: []
        }

        var engTodeu = {
            "ClubId": "ClubId",
            "Group": "Gruppe",
            "Payment": "Zahlungen",
            "FirstName": "Vorname",
            "LastName": "Nachname",
            "Text": "text"
        };

        var params = $.address.parameterNames();

        for (var i = 0, len = params.length; i < len; ++i) {
            console.log(params[i]);
            var facet =  {
                attributes: {
                    category: engTodeu[params[i]],
                    value: $.address.parameter(params[i])
                }
            }
            searchModel.models.push(facet)
        }
        console.log(searchModel);
        search(null, searchModel);
    });
</script>
