/* Override some defaults */
html, body {
background-color: #eee;
}
body {
padding-top: 40px; /* 40px to make the container go all the way to the bottom of the topbar */
}
.container > footer p {
text-align: center; /* center align it with the container */
}
.container {
width: 820px; /* downsize our container to make the content feel a bit tighter and more cohesive. NOTE: this removes two full columns from the grid, meaning you only go to 14 columns and not 16. */
}

/* The white background content wrapper */
.content {
background-color: #fff;
padding: 20px;
margin: 0 -20px; /* negative indent the amount of the padding to maintain the grid system */
-webkit-border-radius: 0 0 6px 6px;
    -moz-border-radius: 0 0 6px 6px;
        border-radius: 0 0 6px 6px;
-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
        box-shadow: 0 1px 2px rgba(0,0,0,.15);
}

/* Page header tweaks */
.page-header {
background-color: #f5f5f5;
padding: 20px 20px 10px;
margin: -20px -20px 20px;
}

/* Styles you shouldn't keep as they are for displaying this base example only */
.content .span10,
.content .span4 {
min-height: 500px;
}
/* Give a quick and non-cross-browser friendly divider */
.content .span4 {
margin-left: 0;
padding-left: 19px;
border-left: 1px solid #eee;
}

.topbar .btn {
border: 0;
}
      
.input-small:first-child 
{
    margin-right: 3px;
}


/* ==== Group <-> User LIST ==== */
.tab-pane-groups
{
    overflow: hidden;
}
.tab-pane-groups .left 
{
    float: left;
    height: 100%;
}
.tab-pane-groups .right
{
    float: right;
    min-height: 100%;
    height: 100%;
}

ul.well 
{
    margin: 0;
    padding: 0;
}

ul.group-user-list 
{
    list-style: none;
    min-width: 100px;
    padding: 0 5px;
    min-height: 40px;
}

ul.group-user-list li 
{
    border: solid 1px #dadada;
    padding: 10px 15px;
    height:20px;
    background: #fff;
    margin: 5px 0;
}

ul.group-user-list li.ui-state-highlight 
{
    background: #dadada;
    border: none;
}

ul.group-user-list li.selected 
{
    background: #80a7c4;
    border: none;
    color: #fff;
}


/* ==== Search LIST ==== */
#search-result 
{
    margin: 20px 0;
    list-style: none;
}